<a href="https://colab.research.google.com/github/wonejomcoesr/Panda_clase_17-07-25/blob/main/Panda_clase17_07_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Trabajando con Panda**

In [3]:
import pandas as pd

In [5]:
#Ayuda especifica dentro de panda
help(pd.Series.iloc)

Help on property:

    Purely integer-location based indexing for selection by position.

    .. deprecated:: 2.2.0

       Returning a tuple from a callable is deprecated.

    ``.iloc[]`` is primarily integer position based (from ``0`` to
    ``length-1`` of the axis), but may also be used with a boolean
    array.

    Allowed inputs are:

    - An integer, e.g. ``5``.
    - A list or array of integers, e.g. ``[4, 3, 0]``.
    - A slice object with ints, e.g. ``1:7``.
    - A boolean array.
    - A ``callable`` function with one argument (the calling Series or
      DataFrame) and that returns valid output for indexing (one of the above).
      This is useful in method chains, when you don't have a reference to the
      calling object, but would like to base your selection on
      some value.
    - A tuple of row and column indexes. The tuple elements consist of one of the
      above inputs, e.g. ``(0, 1)``.

    ``.iloc`` will raise ``IndexError`` if a requested indexer is
    out-of-bounds, except *slice* indexers which allow out-of-bounds
    indexing (this conforms with python/numpy *slice* semantics).

    See more at :ref:`Selection by Position <indexing.integer>`.

    See Also
    --------
    DataFrame.iat : Fast integer location scalar accessor.
    DataFrame.loc : Purely label-location based indexer for selection by label.
    Series.iloc : Purely integer-location based indexing for
                   selection by position.

    Examples
    --------
    >>> mydict = [{'a': 1, 'b': 2, 'c': 3, 'd': 4},
    ...           {'a': 100, 'b': 200, 'c': 300, 'd': 400},
    ...           {'a': 1000, 'b': 2000, 'c': 3000, 'd': 4000}]
    >>> df = pd.DataFrame(mydict)
    >>> df
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    **Indexing just the rows**

    With a scalar integer.

    >>> type(df.iloc[0])
    <class 'pandas.core.series.Series'>
    >>> df.iloc[0]
    a    1
    b    2
    c    3
    d    4
    Name: 0, dtype: int64

    With a list of integers.

    >>> df.iloc[[0]]
       a  b  c  d
    0  1  2  3  4
    >>> type(df.iloc[[0]])
    <class 'pandas.core.frame.DataFrame'>

    >>> df.iloc[[0, 1]]
         a    b    c    d
    0    1    2    3    4
    1  100  200  300  400

    With a `slice` object.

    >>> df.iloc[:3]
          a     b     c     d
    0     1     2     3     4
    1   100   200   300   400
    2  1000  2000  3000  4000

    With a boolean mask the same length as the index.

    >>> df.iloc[[True, False, True]]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    With a callable, useful in method chains. The `x` passed
    to the ``lambda`` is the DataFrame being sliced. This selects
    the rows whose index label even.

    >>> df.iloc[lambda x: x.index % 2 == 0]
          a     b     c     d
    0     1     2     3     4
    2  1000  2000  3000  4000

    **Indexing both axes**

    You can mix the indexer types for the index and columns. Use ``:`` to
    select the entire axis.

    With scalar integers.

    >>> df.iloc[0, 1]
    2

    With lists of integers.

    >>> df.iloc[[0, 2], [1, 3]]
          b     d
    0     2     4
    2  2000  4000

    With `slice` objects.

    >>> df.iloc[1:3, 0:3]
          a     b     c
    1   100   200   300
    2  1000  2000  3000

    With a boolean array whose length matches the columns.

    >>> df.iloc[:, [True, False, True, False]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

    With a callable function that expects the Series or DataFrame.

    >>> df.iloc[:, lambda df: [0, 2]]
          a     c
    0     1     3
    1   100   300
    2  1000  3000

**Toma de contactos**

In [7]:
diccionario = [{'a':2,'b':4,'c':9},{'A':16,'B':12,'C':19}]
df=pd.DataFrame(diccionario)
df

     a    b    c     A     B     C
0  2.0  4.0  9.0   NaN   NaN   NaN
1  NaN  NaN  NaN  16.0  12.0  19.0

**Series**

In [8]:
#Crear series
serie=pd.Series([2,6,-1,8,9,2.3],index=['a','b','c','d','e','f'])
serie

a    2.0
b    6.0
c   -1.0
d    8.0
e    9.0
f    2.3
dtype: float64

In [9]:
#Borrar series (filas)
serie2=serie.drop(['a','e'])
serie2

b    6.0
c   -1.0
d    8.0
f    2.3
dtype: float64

In [10]:
#Seleccionar series (filas)
serie[['b','d']]

b    6.0
d    8.0
dtype: float64

In [13]:
#Asignar nuevos valores
serie['b']=100
serie

a      2.0
b    100.0
c     -1.0
d      8.0
e      9.0
f      2.3
dtype: float64

In [15]:
#Operadores
#Suma
serie3=serie+serie2
serie3

a      NaN
b    106.0
c     -2.0
d     16.0
e      NaN
f      4.6
dtype: float64

In [19]:
#Resta
serie.sub(serie2)

a     NaN
b    94.0
c     0.0
d     0.0
e     NaN
f     0.0
dtype: float64

In [17]:
#Multiplicacion
serie.mul(serie2)

a       NaN
b    600.00
c      1.00
d     64.00
e       NaN
f      5.29
dtype: float64

In [18]:
#Division
serie.div(serie2)

a          NaN
b    16.666667
c     1.000000
d     1.000000
e          NaN
f     1.000000
dtype: float64

In [20]:
#Resto de la division
serie.mod(serie2)

a    NaN
b    4.0
c   -0.0
d    0.0
e    NaN
f    0.0
dtype: float64

**Data frames**

In [27]:
datos={'Alumno':['M mar','Lucia','Juan','Eva'],'Nota':[20,10,15,8]}
df=pd.DataFrame(datos,columns=['Alumno','Nota'])
df

  Alumno  Nota
0  M mar    20
1  Lucia    10
2   Juan    15
3    Eva     8

In [29]:
#Eliminar la columna 2
df2 = df.drop('Nota', axis=1)
print(df2)

  Alumno
0  M mar
1  Lucia
2   Juan
3    Eva

In [31]:
#Cambiar l anota de Eva
df.loc[df['Alumno'] == 'Eva', 'Nota'] = 20
df

  Alumno  Nota
0  M mar    20
1  Lucia    10
2   Juan    15
3    Eva    20

In [33]:
#Seleccionar series (filas)
df_selected = df.loc[df['Alumno'].isin(['M mar', 'Juan'])]

print(df_selected)

  Alumno  Nota
0  M mar    20
2   Juan    15

**Entrada, salida y escritura**

In [ ]:
#Grabar un dataframe
df.to_csv('/content/misDatos.csv',index=False,columns=['Alumno','Nota'])

In [ ]:
#Leer el dataframe
mis_datos=pd.read.csv('/content/misDatos.csv',header=None,nrows=2)
mis_datos.columns=['Alumno','Nota']
mis_datos.head()